.blog {
  text-align: center;
}

.name h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-post {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.blog-post:hover {
  background-color: #f0f0f0;
}

.blog-post h3 {
  margin-top: 0;
}

.blog-post p {
  margin-bottom: 0;
}